@import url('https://fonts.googleapis.com/css2?family=Kadwa:wght@400;700&family=Tsukimi+Rounded:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kadwa:wght@400;700&family=Lato:wght@300&family=Tsukimi+Rounded:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif
}
body {
    background-color: #f5f5f5;
}

li a {
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    line-height: 60%;
    margin-right: 20px;
}

a:hover {
    color: #ffffff;
}

.login-btn a {
    text-decoration: none;
    width: 5vw;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    background-color: #0082ce;
}

.showcase {
    margin: auto;
    overflow: hidden;
    width: 90%;
}
.clr{
    background-color:#0082CE;
    color: #D9D9D9;
}

#main {
    float: left;
    width: 45%;
    box-sizing: border-box;
    margin-top: 40px;
}

#sidebar {
    float: right;
    width: 45%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 40px;
}

#main2 {
    float: left;
    width: 45%;
    box-sizing: border-box;
    margin-top: 40px;
}

#sidebar2 {
    float: right;
    width: 45%;
    box-sizing: border-box;
    text-align: center;
    margin-top: 40px;
}

#sidebar h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 2.2em;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #178B23;
}

#sidebar p {
    font-style: normal;
    font-weight: 600;
    font-size: 1.6em;
    line-height: 35px;
    text-align: justify;
    letter-spacing: 0.1em;
    color: #432F24;
}

#main2 h3 {
    font-style: normal;
    font-weight: 700;
    font-size: 2.2em;
    line-height: 35px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
    color: #178B23;
}

#main2 p {
    font-style: normal;
    font-weight: 600;
    font-size: 1.6em;
    line-height: 35px;
    text-align: justify;
    letter-spacing: 0.1em;
    color: #432F24;
}

#main-footer {
    margin-top: 40px;
    background: #333;
    color: #f4f4f4;
    text-align: center;
    padding: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
}

@media (max-width: 600px) {
    #main,
    #main2 {
        width: 100%;
        float: none;
    }

    #sidebar,
    #sidebar2 {
        width: 100%;
        float: none;
    }
    .login-btn a{
        width: 20vw;
    }

    .showcase:nth-child(2) #main2 {
        order: -1;
        margin-bottom: 40px;
    }

    .showcase:nth-child(2) #sidebar2 {
        order: -2;
        margin-bottom: 40px;
    }
}