::after ::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #D4ECDB;
    overflow: hidden;
}
.color{
    background-color: #9124E6;
    width: 30%;
    height:100vh;
}
.images{
    height:50vh;
    margin:30% 55%;
}
.login{
    background-color: #F7F7F7;
    width: 50%;
    height: 70vh;
}
.login h1{
    font-family:Kadwa;
}
.login h2,h4{
    font-family:Kadwa;
}
input[type="text"]{
    padding: 10px;
}
input[type="password"]{
    padding: 10px;
}
.round{
    height: 35px;
    width: 105%;
    border-radius:15px;
    border: 0px;
    background-color:#D9D9D9 ;
}
button{
    height: 35px;
    width: 100px;
    border-radius:15px;
    border: 0px;
    background-color:#FF7070;
    color: #FFFFFF;
}
a:link,a:visited{
    color:  #B92727;;
}