@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Kadwa:wght@400;700&family=Lato:wght@300&family=Tsukimi+Rounded:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif
}
body{
    background-color: #F5F5F5;
}
.color{
    background-color:#178B23 ;
    /* width: 95%; */
}
body{
    background-color: F5F5F5;
}
li a{
    width:100%;
    font-size: 20px;
    font-weight: bolder;
    line-height: 60%;
    margin-right: 20px;
}
.clr{
    background-color:#0082CE;
    color: #D9D9D9;
}
.login-btn a {
    text-decoration: none;
    width: 5vw;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    background-color: #0082ce;
}
a:hover{
    color: #FFFFFF;
}
.login-btn a{
    text-decoration: none;
    width:8vw;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    background-color: #0082CE;
}
.container h2{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
color: #178B23;
}
#main-footer{
    margin-top: 40px;
    background: #333;
    color: #f4f4f4;
    text-align: center;
    padding: 40px;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
}
.col-md-3 a{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 23px;
color: #000000;

}
@media(max-width:600px){
    .paragraph{
        text-align: center;
        width: 100%;
        margin: 5% 2%;
    }
    .welcome{
        height: 70vh;
    }
    .login-btn a{
        width: 20vw;
    }
}